<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Sample</title>
</head>
<body>

<p th:text="${#temporals.format(now,'yyyy-MM-dd HH:mm:ss')}">
    2022년 12월 25일
</p>
<p th:text="${#temporals.format(seoul,'yyyy-MM-dd HH:mm:ss')}">
    2022년 12월 25일
</p>
<p th:text="${#temporals.format(paris,'yyyy-MM-dd HH:mm:ss')}">
    2022년 12월 25일
</p>

<!-- 345620.5226 => formatDecimal(숫자, 최소 표시 자리 수, 소수점 이하 자리 수) -->
<p th:text="${#numbers.formatDecimal(productPrice, 1, 2)}"> <!-- 345620.52 -->
    3.14
</p>
<!-- 소수점 이하 표시하지 않음, 반올림 -->
<p th:text="${#numbers.formatDecimal(productPrice, 1, 0)}"> <!-- 345621 반올림-->
    3.14
</p>
<!-- 345620.5226 => formatDecimal(숫자, 최소 표시 자리 수, 천단위 구분-COMMA, 소수점 이하 자리 수, 소수점 구분-POINT) -->
<p th:text="${#numbers.formatDecimal(productPrice, 10, 'COMMA', 2, 'POINT')}">
    3.14
</p>

<!-- formatInteger(정수, 최소 표시 자리 수, 세자리마다 콤마 여부 'COMMA') -->
<p th:text="${#numbers.formatInteger(productCount, 1, 'COMMA')}">
    100
</p>
<p th:text="${#numbers.formatInteger(productCount, 10)}">
    100
</p>

</body>
</html>