<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="pager(page, baseUrl, block)" th:if="${page != null and !page.empty}">
    <ul class="pagination"
        th:with="start=${T(java.lang.Math).floor(page.number / block) * block},
               last=${(start + (block - 1) < page.totalPages ? start + (block - 1) : page.totalPages - 1)}">
        <!-- 이전 -->
        <li class="page-item" th:classappend="${page.first} ? ' disabled'">
            <a class="page-link"
               th:href="@{${baseUrl}(page=${page.number - 1})}">&laquo;</a>
        </li>
        <!-- 번호 -->
        <li class="page-item"
            th:each="pageNumber : ${#numbers.sequence(start, last)}"
            th:classappend="${pageNumber == page.number} ? ' active'">
            <a class="page-link"
               th:text="${pageNumber + 1}"
               th:href="@{${baseUrl}(page=${pageNumber})}">1</a>
        </li>
        <!-- 다음 -->
        <li class="page-item" th:classappend="${page.last} ? ' disabled'">
            <a class="page-link"
               th:href="@{${baseUrl}(page=${page.number + 1})}">&raquo;</a>
        </li>
    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>